DB_USERNAME=root
DB_PASSWORD=root
REDIS_HOST=localhost
JWT_SECRET=Yn2V9xH8LkP4mR7sT1wZ5aQ3cE6bN0dF8gJ2iK4oP6rS9uV1xY3zA5wB7nC0mQ==
JWT_EXPIRATION=86400000
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=noreply@movieticket.com
